/* Page Setup */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td, 
ul, ol, li , nav, button, input, figure, figcaption, 
aside, element, section, img {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
	background-color: #FFFFFF;
	font-family: arial;
}
ul, ol  {
	list-style-type: none;
	padding: 0px;
	margin: 0px 10px;
}
ul li, ol li {
	background-image: url(../images/star.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 25px; 
}
h1, h2 {
	margin-top: 10px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
img {
	max-width: 100%;
	height: auto;
}
p {
	/*margin: 5px;*/
}
nav a:link,
nav a:visited {
	text-decoration: none;
	color: #00ADEF;
}
nav a:hover {
	text-decoration: none;
	color: #00ADEF;
}
b {
	color: #00DD99;
}
img {
	border-radius: 7px;
}

/* Page Layout */
#header {
	width: 100%;
	height: auto;
	background: #250052;
}
#main {
	width: 80%;
	margin: auto;
	color: #250052;
	background-color: #ffffff;
}
#to-mobile-menu, #mobilemenu {
	display: none;
}
#to-mobile-menu {
	width: 100%;
	background: #00dd99;
	padding: 10px;
	text-align: center;
}
#to-mobile-menu a {
	color: #250052;
}
#top-nav {
	text-align: left;
	width: 20%;
	float: left;
	margin-bottom: 30px;
}
#top-nav ul  li{
	padding: 10px 0 0;
	background: none;
}
#top-nav ul li div {
	border-bottom: 1px solid;
	width: 100%;
}
#top-nav ul li ul {
	margin: 0 0 0 15px;
}
#mobilemenu ul li {
	background: none;
}
#banner{
	width: 80%;
	text-align: left;
	color: #FFFFFF;
	margin: auto;
	position: relative;
}
#banner img{
	display: inline;
	margin: 10px;
}
.desktop {
	display: inherit;
}
#banner img.mobile {
	display: none;
}
#banner h1 {
	display: inline;
}
#banner a {
	text-decoration: none;
	color: #00ADEF;
	position: absolute;
	bottom: 10px;
	right: 10px;
}
#primary {
	padding: 15px;
	margin: auto;
	float: left;
	width: 75%;
	border-left: 1px solid;
}
#footer {
	font-size: .8em;
	width: 100%;
	border-top: 2px solid #250052;
	padding-top: 15px;
	margin-top: 30px;
	clear: both;
}

/* Index Page Styles */
#stockphoto {
	float: left;
	margin-right: 10px;
	max-width: 100%;
}
#profileSec {
	display: inline;
	float: left;
	padding: 0 30px 30px 0;
}
#profilePic {
	width: 250px;
}
#profileInfo {
	display: inline;
	padding: 0 0 30px 0;
}
/* Resume Page Styles */
#skillset {
	margin: auto;
	clear: right;
	border: 5px #250052 double;
	width: 95%;
	overflow: hidden;
	padding: 5px 0px 5px 15px;
	border-radius: 7px;
}
#skillset div h3 {
	margin-top: 10px;
}
#techsum-1, #techsum-2, #techsum-3 {
	width: 48%;
	float: left;
}
.workentry {
	margin: 10px 10px 0px 20px;
}
.jobtitle, .company {
	float: left;
	clear: both;
}
.period {
	float: right;
	font-size: 14px;
	vertical-align: text-bottom;
}
.tasks {
	clear: both;
}
.tasks b {
	color: #00DD99;
	font-size: 1.25em;
	font-weight: normal;
}
.techsum li {
	list-style: none;
}

/* Previous Work Styling*/
#wip p {
	padding: 10px 0 0;
	}
#breakdown img{
	padding: 10px 0px;
}
.caption, #next {
	margin: auto;
	display: block;
	clear: both;
	padding: 20px 0px;
}
#next {
	width: 90%;
}
.caption img {
	display: inline;
	float: left;
	margin: 10px;
}
.caption h3{
	display: block;
	margin: 10px 0;
}
.caption p {
	padding-top: 10px;
}
.hidden {
	display: none;
}
.unhidden {
	display: block;
}

/* BlogsAndIdeas Styling */
.intro {
	padding-top: 10px;
}
.questionandanswer {
	margin-left: 20px;
	padding: 10px;
}
.question {
	font-weight: bold;
	margin-bottom: -5px;
}
.answer {
	margin: 5px;
	padding-top: 5px;
}

/* WinCalcEm Styling */
.center {
	width: 30%;
	margin: auto;
	}
table {
	border: 2px solid #250052;
	align: center;
	padding: 5px;
	margin: 5px;
}
table td {
	padding: 1px;
	background-color: white;
}
td.gray {
	background-color: #C0C0C0;
	height: 20px;
	}

/* Small Device Styling */
/*@media only screen and (max-width: 1070px) {
#banner, #main , #footer{
	width: 100%;
}
#banner {
	height: auto;
	overflow: auto;
}
#banner a {
	position: relative;
	display: block;
	padding-left: 20px;
}
}*/

@media only screen and (max-device-width: 750px) {
#top-nav {
	display: none;
}	
#to-mobile-menu, #mobilemenu {
	display: block;
	font-size: 2em;
}
#banner {
	text-align: center;
}
#banner img {
	display: block;
	margin: auto;
	padding-top: 10px;
}
#banner img.desktop {
	display: none;
}
nav a:link,
nav a:visited {
	font-size: 1.4em;
}
h1, h2, h3, h4, h5, h6, hgroup {
	font-size: 1.2em;
}
#main {
	clear: both;
	color: #250052;
	background-color: #ffffff;
	font-size: 1.2em;
}
#primary {
	width: 100%;
	padding: 5%;
}
.caption img {
	display: block;
	clear: both;
	float: none;
}
#techsum-1, #techsum-2, #techsum-3 {
	width: 100%;
}
#footer {
	border-top: 2px solid #250052;
	padding-top: 15px;
	margin-top: 20px;
}
.summary .caption p {
	display: none;
}
}