
@font-face {
    font-family: "MyriadPro-Bold";
    font-style: normal;
    font-weight: normal;
    src: url("myriadprobold.eot?#iefix") format("embedded-opentype"), url("myriadprobold.woff") format("woff"), url("myriadprobold.ttf") format("truetype"), url("myriadprobold.svg#myriadprobold") format("svg");
}
.container {
    background-color: #FFFFFF;
    background-image: url("../images/bg.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    float: left;
    width: 100%;
}
.wrapper {
    margin: 0 auto;
    width: 951px;
}
.top {
    float: left;
    height: 138px;
    width: 951px;
}
.logo {
    float: left;
    margin-top: 15px;
}
.menu {
    float: right;
    margin-top: 18px;
    text-align: right;
    width: 664px;
}
body h1 {
    font-size: 36px;
    
}
body h2 {
    font-size: 30px;
    
}
body h3 {
    font-size: 24px;
    
}
body h4 {
    font-size: 18px;
   
}
body h5 {
    font-size: 14px;
   
}
body h6 {
    font-size: 12px;
   
}
.menu h3 {
    color: #A4CD42;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
}
.menu span {
    color: #9D9D9D;
    float: right;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
}
.banner h3 {
    color: #959595;
    float: left;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    margin-top: 30px;
}
.slides {
    float: left;
    margin-top: 30px;
}
.text {
    float: left;
    margin-top: 25px;
}
.text span {
    color: #A4CD42;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 951px;
}
.text p {
    color: #C4C4C4;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 19px;
}
.banner {
    float: left;
    min-height: 741px;
}
.content {
    float: left;
    min-height: 379px;
    width: 951px;
}
.footer {
    background-color: #4A4A4A;
    float: left;
    height: 60px;
    margin-bottom: 80px;
    width: 951px;
}
.footer p {
    color: #FFFFFF;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin-left: 25px;
    margin-top: 25px;
}
.footer ul {
    float: right;
    margin-top: 20px;
}
.footer ul li {
    float: left;
    margin-right: 13px;
}
.footer ul li a {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}
.block {
    float: left;
    margin-bottom: 25px;
    margin-left: 31px;
    width: 286px;
}
.padd {
    float: left;
    padding-top: 113px;
}
.padd .block h3 {
    background-image: url("../images/plus.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #272727;
    font-family: 'MyriadPro-Bold';
    font-size: 18px;
    font-weight: normal;
    padding-left: 30px;
    text-transform: uppercase;
	cursor:pointer;
}

.padd .block h3.active {
    background-image: url("../images/minus.png");
}
.padd .block a {
    background-image: url("../images/garr.png");
    background-position: left center;
    background-repeat: no-repeat;
    color: #A4CD42;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-left: 15px;
	text-decoration:none;
}
.padd .block p {
    color: #171717;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
