
#nav {
    background-image: url("../images/menubg.jpg");
    background-position: right top;
    background-repeat: repeat-x;
    float: right;
    padding: 0;
}
#nav li a, #nav li {
    float: left;
}
#nav li {
    list-style: none outside none;
    position: relative;
}
#nav li:last-child {
    background: none repeat scroll 0 0 transparent;
}
#nav li a {
    background-image: url("../images/divider.png");
    background-position: right top;
    background-repeat: no-repeat;
    color: #292929;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 13px;
    text-decoration: none;
    transition: all 0.5s linear 0s;
}
#nav li:hover a {
}
#nav li ul li a {
    color: #624219;
}
#nav li:hover a {
    background-image: url("../images/menuhover.jpg");
    background-position: center top;
    background-repeat: repeat-x;
}
#nav li a.active {
    background-color: #E6ECCD;
    border-radius: 90px 90px 90px 90px / 45px 45px 45px 45px;
}
.hasChildren {
    background: none repeat scroll 0 0 black;
    bottom: 0;
    height: 5px;
    position: absolute;
    right: 0;
    width: 5px;
}
#nav li ul {
    display: none;
    left: 13px;
    margin-top: -10px;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 9999;
}
#nav li:hover > ul {
    display: block;
}
#nav li ul li, #nav li ul li a {
    float: none;
    z-index: 99999;
}
#nav li ul li {
    background-color: #EBEBEB;
    background-image: none;
}
#nav li ul li a {
    background-image: none;
    box-shadow: none;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: normal;
    min-width: 178px;
    padding: 5px 12px;
}
#nav li ul li:hover a {
}
#nav li ul li ul {
    display: none;
}
#nav li ul li:hover ul {
    left: 100%;
    top: 0;
}
ul#nav li ul li {
    background-color: #1E5089;
    background-image: none;
    border-bottom: 1px dashed #FFFFFF;
}
#nav li ul li:last-child {
    border: 0 none;
}
ul#nav li ul {
}
ul#nav li ul li:hover a {
    background-color: #FF0000;
}
#nav li:hover ul li a {
    background: none repeat scroll 0 0 transparent;
    border-radius: 0 0 0 0;
    box-shadow: none;
}
ul#nav li ul {
    background-color: #1E5089;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 10px;
    padding-top: 11px;
}
#nav li:last-child a:hover, #nav .last a:hover {
}
#nav ul li:hover a:last-child {
}
#nav ul li {
    background-color: #E6ECCD;
}
#nav ul li:last-child a:hover {
}
#nav .last a {
    background-image: none;
}
#nav ul li:hover a {
    background-image: none;
}
